.brands {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.brands__title {
    font-size: 30px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: left;;
}

.brands__item {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.color_block {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    box-shadow: 1px 1px 4px 0px #00000059;
    border: none;
    outline: none;
    cursor: pointer;
}

.d_f_colors {
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 10px;
    flex-wrap: wrap;
    row-gap: 10px;
}

.color_picked {
    border: 2px solid #FF7300;
}

.brands__img {
    width: 230px;
    height: 105px;
    border-radius: 24px;
    background: linear-gradient(210.55deg, #EBF2F9 19.14%, #C6D7EB 154.68%);
    border: 1px solid;
    border-image-source: linear-gradient(123.5deg, #FFFFFF 38.36%, rgba(219, 230, 242, 0) 69.31%, #8F9FAE 131.91%);
    box-shadow: 16px 4px 64px 0px #123D6533;
    box-shadow: -8px -6px 80px 0px #FFFFFF2E inset;
    display: flex;
    justify-content: center;
    cursor: pointer;
    align-items: center;
}

.brands__img img {
    transition: transform 0.3s ease;
    width: 10vw;
    height: 5vw;
    object-fit: contain;
}

.brands__img:hover img {
    transform: scale(1.03);
}

.footer {
    margin-top: 50px;
}

.footer__items {
    display: flex;
    flex-direction: column;
}

.footer__logo_and_info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info {
    font-size: 20px;
    width: 60%;
}

.footer__social_media {
    display: flex;
    gap: 20px;
}

.social_media__block {
    width: 50px;
    height: 50px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #E3EDF7;
    border: 1px solid #FFFFFF;
    box-shadow: 4px 2px 16px 0px #88A5BF7A;
    cursor: pointer;
}

.footer__navigaiton {
    margin-top: 80px;
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-between;
}

.footer__navigaiton__item {
    width: 370px;
}

.footer__navigaiton__item_title {
    font-size: 20px;
    font-weight: 300;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
}

.footer__navigation__item_list {
    border-top: 1.5px solid #FFFFFF;
    padding: 0;
}

.list__item {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

.list__item_text {
    max-width: 235px;
}

.brands_navbar {
    width: 100%;
    height: auto;
}

.brands_navbar__item {
    margin-top: 30px;
}

.brands__info {
    font-size: 20px;
    font-weight: 300;
    color: #888888;
}

.brands_navigation {
    width: 100%;
    height: auto;
    border-radius: 20px;
    box-shadow: 16px 4px 64px 0px rgba(111, 136, 160, 0.4784313725);
    border: 1px solid #ffffff;
    background: linear-gradient(210.55deg, #EBF2F9 19.14%, #C6D7EB 154.68%);
    display: flex;
    justify-content: space-around;
}

.brands_navigation__item {
    max-width: 13vw;
    width: 13vw;
    height: 4vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    position: relative;
    z-index: 2;
}

.brands_info_block {
    display: flex;
    justify-content: center;
    align-items: center;
}

.brands_info_block img {
    width: 60%;
    height: 4vw;
    object-fit: contain;
}

.brands__block_arrow_down {
    width: 2vw;
    height: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
}

.brands__title_filter {
    font-size: 1.3vw;
    user-select: none;
}

.dropdown_text {
    user-select: none;
    cursor: pointer;
}

.brands__block_arrow_down {
    img {
        transition: transform 0.3s ease;
        width: 1vw;
        height: 1vw;
    }
}

.arrowUp {
    transition: transform 0.3s ease;
    transform: rotate(180deg);
    width: 1vw;
    height: 1vw;
}

.arrowDown {
    transition: transform 0.3s ease;
    width: 1vw;
    height: 1vw;
}

.dropdown_label{
    cursor: pointer;
}

.dropdown_radio {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 16px;
    height: 16px;
    border: 2px solid #fff;
    border-radius: 50%;
    margin-right: 8px;
    outline: none;
    transition: background-color 0.3s;
}
  
  .dropdown_radio:checked {
    background-color: #FF7300;
}  

.dropdownContent {
    display: block;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    position: absolute;
    top: 100%;
    left: 0;
    width: auto;
    z-index: 1;

    &.active {
        max-height: 350px; 
        transition: max-height 1s ease;
    }

    &::before {
        content: '';
        position: absolute;
        top: -9.4px;
        left: 0;
        width: 100%;
        height: 10px;
        background: linear-gradient(0deg, #EBF2F9 19.14%, #C6D7EB 154.68%);
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        box-shadow: 16px 16px 64px 0px #123D657A;
    }

    background: linear-gradient(0deg, #EBF2F9 19.14%, #C6D7EB 154.68%);
    border: 1px solid;
    border-image-source: linear-gradient(123.5deg, #FFFFFF 38.36%, rgba(219, 230, 242, 0) 69.31%, #8F9FAE 131.91%);
    box-shadow: 0px 8px 16px 0px #123D657A;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.notActive {
    max-height: 0;
    transition: max-height 0.3s ease;
}

.dropdown__list {
    padding: 20px 10px 20px 10px;
    // width: 29vh;
}
.dropdown__list_all{
    padding: 20px 10px 20px 10px;
    
}

.range_slider{
    display: flex;
    gap: 20px;
}

.price_display{
    display: flex;
    justify-content: space-between;
}

.brands_navigation__item > div{
    font-size: 1.3vw;
}

@media only screen and (max-width: 1300px) {
    .brands__img {
        width: 15vw;
    }
    .brands__img img {
        width: 13vw;
    }
    .brands__item {
        flex-wrap: wrap;
    }
    .footer__logo_and_info {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 20px;
    }
    .footer__logo_and_info img {
        width: 33vw;
    }
    .info {
        width: 50%;
        text-align: center;
    }
    .footer__social_media {
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }
    .list__item {
        width: 15vw !important;
    }
}

@media only screen and (max-width: 600px) {
    .brands__item {
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
    }
    .brands__img {
        width: 110px;
        height: 50px;
        margin-bottom: 20px;
    }
    .info {
        width: 100%;
        font-weight: 300;
        font-size: 14px;
    }
    .footer__navigaiton {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .footer__navigaiton__item_title {
        text-align: center;
    }
    .list__item {
        width: 100% !important;
    }
}

@media screen and (max-width: 520px) {
    .brands__title_filter{
        display: none;
    }
    .brands__block_arrow_down{
        display: none;
    }
    .dropdownContent{
        display: none;
    }
    .brands_navigation__item{
        display: flex;
        gap: 15px;
        align-items: center;
    }
    .brands_navigation__item > div{
        font-size: 1.4vw;
    }
    .brands_navigation__item > img{
        width: 15px;
        height: 15px;
    }
}