.card_main{
    width: 275px;
    height: auto;
    border-radius: 24px;
    border: 1px solid #fff;
    box-shadow: -4px -2px 16px 0px #FFFFFF;
    box-shadow: 16px 36px 64px 0px #6f88a07a;
}

.card_container{
    padding: 15px;
}
.card{
    display: flex;
    flex-direction: column;
}
.star_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.new_productCard_label {
    width: 60px;
    height: 30px;
    border-radius: 5px;
    background: #FF7300;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img_container{
    display: flex;
    justify-content: center;
    margin-top: 1.2rem;
}

.heart_container{
    display: flex;
    justify-content: flex-end;
    margin-right: 0.3rem;
}

.price{
    display: flex;
    align-items: center;
}

.price > h2{
    font-size: 18px;
    font-weight: 400;
}

.price > h3 {
    font-size: 13px;
    color: #888888;
    text-decoration-line: line-through;
    margin-left: 1rem;
    font-weight: 400;
}

.discount{
    display: flex;
    gap: 15px;
    align-items: center;
}

.discount > div{
    background-color: #fff;
    border-radius: 5px;
    border: none;
    width: auto;
    font-size: 11px;
    padding: 7px 2px 7px 2px;
}

.discount div:first-child{
    background-color: rgba(255, 115, 0, 0.848) ;
    font-size: 13px;
}

.title > h2{
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
    font-weight: 400;
}

.title > p{
    color: rgba(136, 136, 136, 1);
    font-size: 14px;
    font-weight: 400;
}

.btn_container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    list-style-type: none;
    border: 1px solid #FFFFFF;
    box-shadow: 16px 16px 64px 0px #6f88a07a;
    background-color: initial;
    width: 100%;
    height: 30px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn a {
    text-decoration: none;
    color: black;
}

.btn_container img {
    width: auto;
    height: 30px;
    margin-left: 1.3rem;
}

.options_container{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.options_container h2 {
    font-size: 14px;
    font-weight: 400;
}

.mini_card_list {
    width: 100%;
    margin-top: 30px;
}

.mini_card_block {
    margin-right: 20px;
}

.isAvilableProduct {
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    gap: 5px;
}