.card_main{
    width: 275px;
    height: 590px;
    border-radius: 24px;
    border: 1px solid #fff;
    box-shadow: 16px 36px 64px 0px #6f88a07a;
    cursor: pointer;
}

.card_mini{
    width: 275px;
    height: auto;
    border-radius: 24px;
    border: 1px solid #fff;
}

.card_container{
    padding: 15px;
}
.card{
    display: flex;
    flex-direction: column;
}
.star_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.star_container__mini{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.new_productCard_label {
    width: 60px;
    height: 30px;
    border-radius: 5px;
    background: #FF7300;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img_container{
    display: flex;
    justify-content: center;
    margin-top: 1.2rem;
}

.img_container img {
    width: 13vw;
    height: 13vw;
    object-fit: contain;
}

.heart_container{
    display: flex;
    justify-content: flex-end;
    margin-right: 0.3rem;
    cursor: pointer;
}

.price{
    display: flex;
    align-items: center;
}

.price > h2{
    font-size: 18px;
    font-weight: 400;
}

.price > h3 {
    font-size: 13px;
    color: #888888;
    text-decoration-line: line-through;
    margin-left: 1rem;
    font-weight: 400;
}

.price_access{
    display: flex;
    align-items: center;
}

.price_access > h2{
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}

.price_access > h3 {
    font-size: 13px;
    color: #888888;
    text-decoration-line: line-through;
    margin-left: 1rem;
    font-weight: 400;
}

.discount{
    display: flex;
    gap: 15px;
    align-items: center;
}

.discount > div{
    background-color: #fff;
    border-radius: 5px;
    border: none;
    width: auto;
    font-size: 11px;
    padding: 7px 2px 7px 2px;
}

.discount div:first-child{
    background-color: rgba(255, 115, 0, 0.848) ;
    font-size: 13px;
}

.title > h2{
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
    font-weight: 400;
}

.title > p{
    color: rgba(136, 136, 136, 1);
    font-size: 14px;
    font-weight: 400;
}

.btn_container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    list-style-type: none;
    border: 1px solid #FFFFFF;
    box-shadow: 16px 16px 64px 0px #6f88a07a;
    background-color: initial;
    width: 100%;
    height: 30px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn a {
    text-decoration: none;
    color: black;
}

.btn_container img {
    width: auto;
    height: 30px;
    margin-left: 1.3rem;
}

.options_container{
    display: flex;
    gap: 10px;
    margin-top: 10px;
    align-items: center;
}

.options_container h2 {
    font-size: 14px;
    font-weight: 400;
}

.mini_card_list {
    width: 100%;
    margin-top: 30px;
}

.mini_card_block {
    margin-right: 20px;
}

.isAvilableProduct {
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    gap: 5px;
}

.color_block {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    box-shadow: 1px 1px 4px 0px #00000059;
}


@media only screen and (max-width: 1300px) {
    .card_main {
        width: 24vw;
        // height: 32vw;
    }
    .img_container {
        margin-top: 0px;
    }
    .img_container img {
        width: 15vw;
        height: 15vw;
    }
    .title h2 {
        margin-top: 0px;
    }
}

@media only screen and (max-width: 1000px) {
    .card_main {
        width: 24vw;
        height: 550px;
    }
}

@media only screen and (max-width: 520px) {
    .card_mini {
        width: 38vw;
        height: 500px;
    }
    .price_access > h2 {
        font-size: 13px;
        text-align: center;
        font-weight: 400;
    }
    .btn {
        font-size: 11px;
    }
    .mini_card_list {
        margin-top: 15px;
    }
    .btn_container img {
        margin-left: 5px;
    }
    .card_main_mobile, .card_main {
        width: 43vw;
    }
    .d-f__new-product {
        column-gap: 0;
    }
    .new_productCard_label {
        width: 50px;
        height: 25px;
        font-size: 14px;
    }
    .heart_container img {
        width: 25px;
        height: 25px;
    }
    .isAvilableProduct span {
        font-size: 14px;
    }
    .img_container img {
        width: 130px;
        height: 120px;
    }
    .price > h2 {
        margin-top: 10px;
        margin-bottom: 5px !important;
    }
    .title h2 {
        margin-bottom: 0;
    }
    .title p {
        margin-top: 0;
    }
    .price > h3 {
        margin-left: 10px;
        margin-top: 20px;
    }
    .discount {
        display: none;
    }
    .options_container {
        width: 100%;
        gap: 5px;
    }
    .options_container h2 {
        font-size: 3vw;
    }
}

//!  MiniCardMobile

@media screen and (max-width: 520px) {
    .mini_mobile__container{
        border-radius: 15px;
        border: 1px solid #fff;
        width: 180px;
        height: auto;
        padding: 10px;
        margin-bottom: 20px;
    }
    .mini_mobile__star{
        display: flex;
        justify-content: flex-end;
    }
    .mini_mobile__star > span {
        font-size: 12px;
    }
    .mini_mobile__content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .mini_mobile__content > span{
        font-weight: 400;
        font-size: 14px;
    }
    .mini_mobile__content > img {
        width: 123px;
        height: 123px;
        object-fit: cover;
    }
    .mini_mobile__utils{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .mini_mobile__utils > div {
        border-radius: 5px;
        border: 1px solid #fff;
    }
    .mini_mobile__utils > span {
        font-weight: 600;
        font-size: 15px;
    }
}