.category__container {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-between;
    margin-top: 30px;
    gap: 20px;
}

.category_small {
    display: flex;
    justify-content: space-between;
    column-gap: 15px;
    flex-wrap: wrap;
    row-gap: 15px;
}

.category_block {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.category {
    width: 29vw;
    height: 21vw;
    border-radius: 24px;
    background: linear-gradient(210.55deg, #EBF2F9 19.14%, #C6D7EB 154.68%);
    border: 1px solid #FFFFFF;
    box-shadow: 16px 4px 64px 0px #123D6533;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
    overflow: hidden;
}

.category:hover .brand__img {
    transform: scale(1.03);
    transition: transform 0.3s ease;
}

.big_category {
    max-width: 400px;
    width: 29vw;
    height: 43vw;
    border-radius: 24px;
    border: 1px solid #FFFFFF;
    background: linear-gradient(210.55deg, #EBF2F9 19.14%, #C6D7EB 154.68%);
    box-shadow: 16px 4px 64px 0px #123D6533;
    position: relative;
    cursor: pointer;
}

.brand__img {
    width: 100%;
    height: 15vw;
    object-fit: contain;
    transition: transform 0.3s ease;
}

.big_img {
    width: 100%;
    height: 40vw;
    object-fit: contain;
}

.category__item {
    width: 100%;
    height: 225px;
}

.category__item_btn {
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.big_category_item_btn {
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 20px;
}

.brand__category {
    width: 16vw;
    height: 3.5vw;
    border-radius: 16px;
    background: #E3EDF7;
    border: 1px solid #FFFFFF;
    box-shadow: 4px 2px 16px 0px #88A5BF7A;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3vw;
}

@media only screen and (max-width: 1300px) {
    .category {
        width: 26vw;
    }
    .big_category, .big_category img {
        width: 33vw;
    }
    .brand__category {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 820px) {
    .category__container {
        margin-top: 15px;
        gap: 0px;
        justify-content: flex-start;
        column-gap: 5px;
        align-items: center;
    }
}