.detail_container {
    display: flex;
    justify-content: space-between;
    // gap: 200px;
}

.detail_wrapper__left {
    width: 50%;
}

.detail_wrapper__right {
    width: 40%;
    height: auto;
    border-radius: 24px;
    border: 1px solid #fff;
    box-shadow: -4px -2px 16px 0px #FFFFFF;
    box-shadow: 16px 36px 64px 0px #6f88a07a;
    padding: 25px;
}

.loader {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.color_block {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    box-shadow: 1px 1px 4px 0px #00000059;
    cursor: pointer;
}

.selectedColor {
    border: 3px solid #d96c19;
}

.section_title {
    margin: 60px 0px 60px 0px;
}

.open_des_func {
    font-size: 15px;
    color: #011EB8;
    font-weight: 500;
    cursor: pointer;
    margin-left: 10px;
}

.section_title>div {
    color: rgba(136, 136, 136, 1);
    font-size: 18px;
    font-weight: 400;
}

.options {
    display: flex;
    align-items: center;
    margin: 40px 0px 40px 0px;
    gap: 20px;
    flex-wrap: wrap;
}

.options>div {
    color: rgba(136, 136, 136, 1);
    font-size: 20px;
    font-weight: 400;
}

.description>div {
    font-size: 24px;
    font-weight: 500;
}

.description>p {
    font-size: 20px;
    font-weight: 400;
}

.description {
    width: 100%;
    height: auto;
    border-radius: 24px;
    border: 1px solid #fff;
    box-shadow: -4px -2px 16px 0px #FFFFFF;
    box-shadow: 16px 36px 64px 0px #6f88a07a;
    padding: 15px;
}

.navigation {
    display: flex;
    gap: 10px;
}

.navigation__item {
    list-style-type: none;
    border: 1px solid #FFFFFF;
    box-shadow: 4px 2px 16px 0px #88A5BF7A;
    // width: 10vw;
    // height: 3vw;
    border-radius: 16px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.navigation__item a {
    text-decoration: none;
    color: black;
    font-size: 1vw;
}

.active__navbar {
    border: 1px solid #FFFFFF;
    background: #E3EDF7;
    box-shadow: 3px 3px 7px 0px #88A5BF7A inset;
}

.btn {
    background-color: initial;
    width: 225px;
    height: 41px;
    list-style-type: none;
    border: 1px solid #FFFFFF;
    box-shadow: 4px 2px 16px 0px rgba(136, 165, 191, 0.4784313725);
    border-radius: 16px;
    padding: 1px 10px 1px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.btn a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 400;
}

.added_btn {
    border: 1px solid #FFFFFF;
    background: #E3EDF7;
    box-shadow: 3px 3px 7px 0px rgba(136, 165, 191, 0.4784313725) inset;
}

.stars {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 15px;
}

.stars>img {
    width: 134px;
    height: auto;
    object-fit: cover;
}

.title>h1 {
    font-size: 32px;
    font-weight: 600;
}

.storage {
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.storage>div {
    color: rgba(136, 136, 136, 1);
    font-weight: 400;
    font-size: 16px;
}

.price {
    margin: 30px 0px 30px 0px;
}

.price>div {
    font-size: 32px;
    font-weight: 600;
}

.utils {
    display: flex;
    gap: 40px;
}

.detail_img {
    width: 43px;
    height: 41px;
}

table {
    width: 100%;
    margin-top: 20px
}

td,
th {
    border: none;
    text-align: left;
    padding: 8px;
}

tr {
    display: flex;
}

td {
    border: none;
    text-align: left;
    padding: 8px;
    position: relative;
    max-width: 200px;
}

th {
    width: 50%;
    color: #868695;
    font-weight: 400;
    text-align: left;
    vertical-align: top;
    padding: 4px 0;
}

.dots__details_span {
    position: relative;
    display: inline-block;
    vertical-align: bottom;
    width: 100%;
}

.dots__details_span span {
    position: relative;
    z-index: 1;
    background-color: #E3EDF7;
}

.dots__details_span::after {
    content: "";
    display: block;
    width: 100%;
    height: 20px;
    position: absolute;
    left: 0;
    bottom: 5px;
    border-bottom: 1px dashed black;
}

td::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 8px;
    width: 96.5%;
    border-bottom: 1px dashed #000;
}

td:nth-child(2)::after {
    content: none;
}

.сharacteristics {
    margin-top: 80px;
}

.reviews_container {
    margin-top: 60px;
}

.reviews_button {
    display: flex;
    align-items: center;
    margin-top: 20px;
    width: 295px;
    height: 3vw;
    border-radius: 16px;
    position: relative;
    border: 1px solid;
    padding: 8px 0px 8px 10px;
    border-image-source: linear-gradient(123.5deg, #FFFFFF 38.36%, rgba(219, 230, 242, 0) 69.31%, #8F9FAE 131.91%);
    box-shadow: 16px 16px 64px 0px #6f88a07a;
    cursor: pointer;
}

.reviews_button input {
    background-color: initial;
    border: none;
    font-family: "Montserrat", sans-serif;
}

.reviews_button input:focus {
    outline: none;
}

.reviews_button img {
    flex-shrink: 0;
}


.search__svg {
    position: absolute;
    top: 15%;
    right: 10px;
}

.reviews {
    border: 1px solid;
    border-image-source: linear-gradient(123.5deg, #FFFFFF 38.36%, rgba(219, 230, 242, 0) 69.31%, #8F9FAE 131.91%);
    box-shadow: 16px 16px 64px 0px #6f88a07a;
    background-color: initial;
    width: auto;
    height: auto;
    border-radius: 15px;
    padding: 15px;
    margin-top: 25px;
}

.reviews_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reviews_name {
    display: flex;
    align-items: center;
    gap: 25px;
}

.reviews_name>img {
    width: 100px;

}

.reviews_name>div {
    font-weight: 500;
    font-size: 16px;
}

.reviews_date>span {
    font-weight: 500;
    font-size: 16px;
    color: rgba(136, 136, 136, 1);
}

.reviews_description>p {
    width: 100%;
}

.add_review {
    display: flex;
    row-gap: 10px;
    flex-direction: column;
}

.path a {
    text-decoration: none;
    color: rgb(136, 136, 136);
}

.path a:hover {
    text-decoration: underline;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
}

.modalContent {
    width: 750px;
    height: auto;
    background: linear-gradient(210.55deg, #EBF2F9 19.14%, #C6D7EB 154.68%);
    border: 1px solid;
    border-image-source: linear-gradient(123.5deg, #FFFFFF 38.36%, rgba(219, 230, 242, 0) 69.31%, #8F9FAE 131.91%);
    box-shadow: 6px 6px 20px 0px #123D6559;
    box-shadow: -6px -6px 10px 0px #FFFFFFCC;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.modal_text {
    width: 100%;
    display: flex;
    font-size: 24px;
    justify-content: space-between;
    align-items: center;
}

.modal_text img {
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.user_info {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.user_info>div {
    font-weight: 600;
    margin-top: 10px;
}

.rating_block {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    width: 40%;
    align-items: center;
}

.review_input_block {
    display: flex;
    flex-direction: column;
}

.review_input_block span {
    font-weight: 600;
}

.review_text {
    margin-top: 15px;
    padding: 15px 15px 200px 15px;
    // width: 100%;
    background: #E3EDF7;
    border: 1px solid #FFFFFF;
    box-shadow: 3px 3px 7px 0px #88A5BF7A inset;
    border-radius: 20px;
    outline: none;
}

.svg_rating {
    width: 30px;
    height: 30px;
}

.add_review_btn {
    width: 295px;
    height: 60px;
    border-radius: 20px;
    background: linear-gradient(210.55deg, #EBF2F9 19.14%, #C6D7EB 154.68%);
    border: 1px solid #FFFFFF;
    box-shadow: 16px 16px 64px 0px #123D657A;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
}

// @media only screen and (max-width: 1015px) {
//     .detail_container{
//         gap: 100px;
//     }
// }

// @media only screen and (max-width: 900px) {
//     .detail_container{
//         gap: 50px;
//     }
// }

@media only screen and (max-width: 850px) {
    .detail_container {
        display: flex;
        flex-direction: column;
    }

    .detail_wrapper__right {
        width: initial;
        margin-top: 40px;
    }

    .detail_wrapper__left {
        width: initial;
    }

    .description {
        width: initial;
    }

    .reviews {
        width: initial;
    }

    .title {
        display: flex;
        justify-content: center;
    }

    .storage {
        justify-content: flex-start;
    }
}

//! DetailMobile
@media screen and (max-width: 520px) {
    .mobile_detail__title>div:first-child {
        font-weight: 500;
        font-size: 20px;
    }

    .mobile_detail__util {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    th {
        width: 100%;
        // justify-content: space-between;
    }

    td {
        font-size: 12px;
    }

    .dots__details_span span {
        font-size: 12px;
    }

    .options>div {
        font-size: 16px;
    }

    .color_block {
        width: 20px;
        height: 20px;
    }

    .detail_img {
        width: 33px;
        height: 31px;
    }

    .storage {
        margin-top: initial;
        justify-content: initial;
    }

    .price {
        display: flex;
        justify-content: flex-end;
    }

    .navigation {
        display: flex;
        flex-wrap: wrap;
    }

    .mobile_detail__button {
        display: flex;
        justify-content: center;
    }

    .btn>a {
        font-size: 18px;
        font-weight: 400;
    }

    .mobile_detail_info {
        display: flex;
        justify-content: space-between;
        gap: 15px;
        margin-top: 25px;
    }

    .option_btn {
        border-radius: 10px;
        border: 1px solid #fff;
        box-shadow: 16px 36px 64px 0px #6f88a07a;
        width: 100%;
        height: 30px;
        color: #000;
        background-color: transparent;
        cursor: pointer;
    }

    .selected_btn {
        border-radius: 10px;
        width: 100%;
        height: 30px;
        color: #000;
        cursor: pointer;
        border: 1px solid #FFFFFF;
        background: #E3EDF7;
        box-shadow: 3px 3px 7px 0px rgba(136, 165, 191, 0.4784313725) inset;
    }

    .dots__details_span::after {
        bottom: 2px
    }

    .сharacteristics {
        margin-top: initial;
    }

    .description {
        margin-top: 20px;
    }

    .description>p {
        font-size: 12px;
    }

    .reviews_button {
        width: max-content;
        height: 30px;
        border: 1px solid #FFFFFF;
    }

    .reviews_description {
        width: auto;
    }

    .modalContent {
        width: 350px;

    }
}