.accessories {
    margin-top: 30px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: relative;
}

.accessories__item {
    font-size: 30px;
    font-weight: 400;
    display: flex;
    gap: 10px;
}

.accessories__item_img, .accessories__item_img_prev {
    width: 40px !important;
    height: 40px !important;
    border-radius: 30px;
    background: #E3EDF7 !important;
    border: 1px solid #FFFFFF !important;
    box-shadow: 4px 2px 16px 0px #88A5BF7A;
    display: flex !important;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    top: -45px !important;
}

.slick-next:before, [dir=rtl] .slick-prev:before {
    content: none !important;
}

.slick-prev:before, [dir=rtl] .slick-prev:before {
    content: none !important;
}

.d-f__new-product {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 30px;
    // column-gap: 62px;
}

.d-f__rec-product {
    justify-content: space-between;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(16rem, calc(16rem + 1.8vw)));
    width: 100%;
    height: auto;
    align-items: flex-start;
    row-gap: 30px;
}

.d-f__rec-product__mobile{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.d-f__new-product__mobile{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.pagination {
    display: flex;
    margin-top: 30px;
    justify-content: flex-end;
}

.pagination__number {
    width: 40px;
    height: 40px;
    border-radius: 30px;
    font-size: 25px;
    border: none;
    font-weight: 300;
    background-color: initial;
    font-family: "Montserrat", sans-serif;
    margin-right: 10px;
}

.active-pagination {
    width: 40px;
    height: 40px;
    border-radius: 30px;
    background: #E3EDF7;
    border: 1px solid #FFFFFF;
    box-shadow: 4px 2px 16px 0px #88A5BF7A;
    font-size: 25px;
    font-weight: 300;
    font-family: "Montserrat", sans-serif;
}

.next__btn-pagination, .prev__btn-pagination {
    width: 40px;
    height: 40px;
    border-radius: 30px;
    background: #E3EDF7;
    border: 1px solid #FFFFFF;
    box-shadow: 4px 2px 16px 0px #88A5BF7A;
    display: flex !important;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.disabled_pagination {
    display: none !important;
}

//! PriceRange
.wrapper {
  width: 300px;
  padding: 20px 25px 40px;
  border: 1px solid #fff;
  box-shadow: 16px 36px 64px 0px #6f88a07a;
}

.price-input {
  width: 100%;
  display: flex;
  margin: 30px 0 35px;
}
.price-input .field {
  display: flex;
  width: 100%;
  height: 45px;
  align-items: center;

}
.field input {
  width: 100%;
  height: 100%;
  outline: none;
  font-size: 18px;
  padding-left: 12px;
  text-align: left;
  border-radius: 24px;
  background: #E3EDF7;
  border: 1px solid #FFFFFF;
  box-shadow: 3px 3px 7px 0px #88A5BF7A inset;
  font-weight: 400;
  font-family: Montserrat;
  -moz-appearance: textfield;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.price-input .seperator {
  width: 130px;
  display: flex;
  font-size: 19px;
  align-items: center;
  justify-content: center;
}
.slider {
  height: 5px;
  position: relative;
  background: #ddd;
  border-radius: 5px;
}
.slider .progress {
  height: 100%;
  left: 25%;
  right: 25%;
  position: absolute;
  border-radius: 5px;
  background: rgba(255, 115, 0, 1);
}
.range-input {
  position: relative;
}
.range-input input {
  position: absolute;
  width: 100%;
  height: 5px;
  top: -5px;
  background: none;
  pointer-events: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
input[type="range"]::-webkit-slider-thumb {
  height: 17px;
  width: 17px;
  border-radius: 50%;
  background: rgba(255, 115, 0, 1);
  pointer-events: auto;
  -webkit-appearance: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}
input[type="range"]::-moz-range-thumb {
  height: 17px;
  width: 17px;
  border: none;
  border-radius: 50%;
  background: rgba(255, 115, 0, 1);
  pointer-events: auto;
  -moz-appearance: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}


.loading {
    width: 100%;
    height: 285px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 1400px) {
    .d-f__rec-product {
        column-gap: 23px;
    }
}

@media only screen and (max-width: 1300px) {
    .d-f__rec-product {
        justify-content: space-between;
    }
    .accessories {
        margin-top: 30px;
    }
    .accessories__item {
        font-size: 2.5vw;
    }
    .accessories__item_img_prev {
        width: 3.3vw;
        height: 3.3vw;
        display: none !important;
        // left: 90% !important;
    }
    .accessories__item_img {
        width: 3.3vw;
        height: 3.3vw;
        display: none !important;
    }
    .accessories__item_img img, .accessories__item_img_prev img {
        width: 2vw;
        height: 2vw;
    }
    .d-f__new-product {
        gap: 10px;
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 520px) {
    .accessories__item_img, .accessories__item_img_prev {
        top: -25px !important;
        width: 30px !important;
        height: 30px !important;
    }
    .accessories__item_img_prev {
        left: 71vw !important;
    }
    .accessories__item {
        font-size: 18px;
    }
    .accessories__item span {
        margin: 0 !important;
        font-size: 14px !important;
    }
    .accessories {
        align-items: center;
        margin-bottom: 30px !important;
    }
    .d-f__rec-product {
        column-gap: 10px;
    }
    .d-f__new-product {
        flex-direction: column;
    }
}