@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: #E3EDF7;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    overflow-x: hidden;
}

.container {
    max-width: 90vw;
    margin: 0 auto;
}

/* Это стили для карусели, точнее для активной карусели */
.slick-dots li.slick-active button:before {
    color: #FF7300 !important;
}
/* Конец этих стилей остальные файле slider.module.scss  */


.active__navbar {
    border: 1px solid #FFFFFF;
    background: #E3EDF7;
    box-shadow: 3px 3px 7px 0px #88A5BF7A inset;
}