.navigation__block {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    gap: 20px;
}

.navigation__block_item {
    width: 20vw;
    height: 4.5vw;
    border-radius: 20px;
    border: 1px;
    display: flex;
    align-items: center;
    gap: 15px;
    padding-left: 20px;
    border: 1px solid #fff;
    box-shadow: -4px -2px 16px 0px #FFFFFF;
    box-shadow: 16px 36px 64px 0px #6f88a07a;
    cursor: pointer;
}

@media only screen and (max-width: 1300px) {
    .navigation__block_item {
        font-size: 1.3vw;
    }
    .navigation__block_item img {
        width: 2.5vw;
        height: 2.5vw;
    }
}

@media only screen and (max-width: 500px) {
    .navigation__block {
        display: none;
    }
}

// ! SideBarMenu

.sidebar {
  position: fixed;
  top: 0;
  right: -100%;
  width: 380px;
  height: 100%;
  background: #E3EDF7;
  border-radius: 24px;
  border: 1px solid #fff;
  box-shadow: 16px 36px 64px 0px #6f88a07a;
  transition: right 0.3s ease-out;
  padding: 20px;
  z-index: 1000; 
}

.sidebarLinks{
  padding: 0px !important;
}

.open {
  right: 0;
}

.sidebarToggle {
  position: fixed;
  top: 10px;
  right: 10px;
  cursor: pointer;
  z-index: 1010; 
}

.closeBtn {
  font-size: 24px;
  cursor: pointer;
  background: none;
  border: none;
}

.sidebar_title > span{
  font-weight: 500;
  font-size: 22px;
}

.dropdown_radio {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 16px;
  height: 16px;
  border: 2px solid #fff;
  border-radius: 50%;
  margin-right: 8px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s;
}

.dropdown_radio:checked {
  background-color: #FF7300;
}  

.sidebar_radio{
  display: flex;
  align-items: center;
}