.navbar{
    background-color: aliceblue;
    width: 100%;
    height: 220px;
    border-radius: 25px;
    margin-top: 15px;
    box-shadow: 16px 4px 64px 0px #123D6533;
    box-shadow: -8px -6px 80px 0px #FFFFFF2E inset;
    border: 1px solid;
    border-image-source: linear-gradient(123.5deg, #FFFFFF 38.36%, rgba(219, 230, 242, 0) 69.31%, #8F9FAE 131.91%);
    background: linear-gradient(210.55deg, #EBF2F9 19.14%, #C6D7EB 154.68%);
}