.block_1_mobile, .block_3_mobile {
    display: none;
}

.navbar{
    background-color: aliceblue;
    width: 100%;
    height: 15vw;
    border-radius: 25px;
    margin-top: 25px;
    box-shadow: 16px 4px 64px 0px #6f88a07a;
    border: 1px solid #ffffff;
    background: linear-gradient(210.55deg, #EBF2F9 19.14%, #C6D7EB 154.68%);
}

.navbar__items{
    display: flex;
    justify-content: space-between;
}

.block_1 {
    padding: 10px 10px 10px 0px;
    border-radius: 25px;
}

.block_1 img {
    width: 100%;
    height: 13vw;
    border-radius: 25px;
}

.block_2{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 15vw;
    width: 50vw;
}

.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 680px;
    width: 50vw;
    padding: 0;
    column-gap: 10px;
}

.navigation__item {
    list-style-type: none;
    border: 1px solid #FFFFFF;
    box-shadow: 4px 2px 16px 0px #88A5BF7A;
    width: 10vw;
    height: 3vw;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.navigation__item a {
    text-decoration: none;
    color: black;
    font-size: 1vw;
}

.logo{
    width: 29vw;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.logo img {
    width: 29vw;    
}

.block_3 {
    display: flex;
    flex-direction: column;
    width: auto;
    max-width: 20vw;
    margin-right: 20px;
}

.block_3 img {
    max-width: 100%;
}

.tools__navbar {
    display: flex;
    margin-top: 20px;
}

.favorite{
    border: 1px solid #FFFFFF;
    box-shadow: 4px 2px 16px 0px #88A5BF7A;
    box-shadow: -4px -2px 16px 0px #FFFFFF;
    width: 34%;
    height: 3vw;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.favorite img {
    width: 3.5vw;
    height: 2vw;
}

.cart {
    border: 1px solid #FFFFFF;
    box-shadow: 4px 2px 16px 0px #88A5BF7A;
    box-shadow: -4px -2px 16px 0px #FFFFFF;
    width: 34%;
    height: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.cart img {
    width: 3.5vw;
    height: 2vw;
}

.personal_office {
    border: 1px solid #FFFFFF;
    box-shadow: 4px 2px 16px 0px #88A5BF7A;
    box-shadow: -4px -2px 16px 0px #FFFFFF;
    width: 34%;
    height: 3vw;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.personal_office img {
    width: 3.5vw;
    height: 2vw;
}

.search__block {
    margin-top: 20px;
    box-shadow: 3px 3px 7px 0px #88A5BF7A inset;
    border: 1px solid #FFFFFF !important;
    width: 100%;
    height: 3vw;
    border-radius: 16px;
    border: 1px;
    position: relative;
}

.search__block input {
    background-color: initial;
    border: none;
    padding-left: 20px;
    padding-top: 1vw;
    max-width: 120px;
    font-family: "Montserrat", sans-serif;
}

.search__block input:focus {
    outline: none;
}

.search__svg {
    position: absolute;
    top: 15%;
    right: 10px;
}


@media only screen and (max-width: 1300px) {
    .search__svg {
        width: 2vw;
        height: 2vw;
    }
    .search__block input {
        font-size: 1vw;
    }
    .logo {
        margin-top: 1vw;
    }
}


@media only screen and (max-width: 520px) {
    .navbar {
        background: linear-gradient(210.55deg, #EBF2F9 19.14%, #C6D7EB 154.68%);
        width: 100%;
        height: 70px;
        border-radius: 10px;
        box-shadow: 16px 4px 64px 0px #123D6533;
        display: flex;
        align-items: center;
    }
    .burgerMenu {
        display: none;
    }
    .personalOffice {
        display: none;
    }
    .navbar__items {
        width: 100%;
        align-items: center;
        justify-content: space-around;
    }
    .block_1, .navigation, .block_3 {
        display: none;
    }
    .block_2 {
        width: 50%;
        height: 10vw;
    }
    .block_1_mobile, .block_3_mobile {
        display: flex;
        align-items: center;
        gap: 10px;
    }
}