.navbar{
    background-color: aliceblue;
    width: 100%;
    height: 220px;
    border-radius: 25px;
    margin-top: 15px;
    box-shadow: 16px 4px 64px 0px #6f88a07a;
    border: 1px solid #ffffff;
    background: linear-gradient(210.55deg, #EBF2F9 19.14%, #C6D7EB 154.68%);
}

.navbar__items{
    display: flex;
    justify-content: space-between;
}

.block_1 {
    padding: 10px 10px 10px 0px;
    border-radius: 25px;
}

.block_1 img {
    border-radius: 25px;
}

.block_2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 220px;
}

.navigation{
    display: flex;
    width: 680px;
    justify-content: space-between;
    align-items: center;
}

.navigation__item {
    list-style-type: none;
    border: 1px solid #FFFFFF;
    box-shadow: 4px 2px 16px 0px #88A5BF7A;
    width: 150px;
    height: 40px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation__item a {
    text-decoration: none;
    color: black;
}

.logo{
    height: 120px;
}

.block_3 {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.tools__navbar {
    display: flex;
    margin-top: 20px;
}

.favorite{
    border: 1px solid #FFFFFF;
    box-shadow: 4px 2px 16px 0px #88A5BF7A;
    box-shadow: -4px -2px 16px 0px #FFFFFF;
    width: 60px;
    height: 40px;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart {
    border: 1px solid #FFFFFF;
    box-shadow: 4px 2px 16px 0px #88A5BF7A;
    box-shadow: -4px -2px 16px 0px #FFFFFF;
    width: 60px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.personal_office {
    border: 1px solid #FFFFFF;
    box-shadow: 4px 2px 16px 0px #88A5BF7A;
    box-shadow: -4px -2px 16px 0px #FFFFFF;
    width: 60px;
    height: 40px;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search__block {
    margin-top: 20px;
    // box-shadow: 3px 3px 10px 0px #88A5BF7A inset;
    box-shadow: 3px 3px 7px 0px #88A5BF7A inset;
    border: 1px solid #FFFFFF !important;
    width: 180px;
    height: 40px;
    border-radius: 16px;
    border: 1px;
    position: relative;
}

.search__block input {
    background-color: initial;
    border: none;
    padding-left: 20px;
    padding-top: 12px;
    max-width: 120px;
    font-family: "Montserrat", sans-serif;
}

.search__block input:focus {
    outline: none;
}

.search__svg {
    position: absolute;
    top: 15%;
    right: 10px;
}